@import '../../../common/global';

.navigation {
    padding: 20px;
    display: flex;
    align-items: center;
    &__link {
        text-decoration: none;
        color: $white;
        margin: 0 10px;
        font-size: 18px;
    }
}
