@import '../../../common/global';

.header {
    background: $red;
    display: flex;
    justify-content: space-between;

    &__logo {
        color: $white;
        font-size: 18px;
        padding: 20px;
        font-style: italic;
        letter-spacing: 1px;
        display: flex;
        align-items: center;

        &-link {
            text-decoration: none;
            color: $white;
        }

        @media (max-width: 420px) {
            font-size: 16px;
        }
    }
}
