@import '../../../common/global';

.header {
    background: $red;
    display: flex;
    justify-content: space-between;

    &__logo {
        color: $white;
        font-size: 18px;
        padding: 20px;
        font-style: italic;
        letter-spacing: 1px;
    }

    &__links {
        padding: 20px;
    }

    &__link {
        text-decoration: none;
        color: $white;
        margin: 0 10px;
        font-size: 18px;
    }
}
