.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    &__arrow {
        margin-top: 3px;
    }

    &__menu {
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
