@import '../../../common/global';

.rates {
    text-align: center;

    &__value {
        background-color: rgba(0, 18, 64, 0.04);
        padding: 10px 20px;
        width: 250px;
        text-align: center;
        margin: 5px;
        border-radius: 18px;
        display: inline-block;
    }
}
